.sidenav {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    margin-right: 4px;
    
}
.sorting{
    background-color: rgb(230, 230, 245);
    padding: 15px;

}
.sorting__dark {
    background-color:rgb(92, 92, 146);
    color: white;
    padding: 15px;
}
.sorting__light {
    background-color:rgb(143, 143, 206);
    color: white;
    padding: 15px;
}
option{
    background-color: rgb(15, 119, 119);
}