.header {
    background-color:#ededf0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .header__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header__selectAll {
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(174, 235, 230);
    padding: 10px 15px;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
  }
  
  .header__selection {
    padding-left: 15px;
    border-left: 1px solid cornflowerblue;
    font-size: 11px;
    font-weight: 500;
    margin-right: 15px;
  }
  
  .header__questionmark {
    font-size: 29px;
  }